$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

h1 {
  text-align: center;
}

// .gameboard {
//   background-color: $pure-white;
//   height: 250px;
//   margin: auto;
//   max-width: 250px;
// }
//
// .square {
//   border: 1px solid $grid-lines;
//   max-height: 50px;
//   max-width: 50px;
//   min-height: 50px;
//   min-width: 50px;
//   padding: 0;
// }
// .body {
//     min-width: 1000px;
// }

.gameboard {
  background-color: $pure-white;
  height: 250px;
  margin: auto;
  width: 250px;
  // min-width: 250px;
}

.square {
  border: 1px solid $grid-lines;
  float: left;
  // max-height: 50px;
  // max-width: 50px;
  // min-height: 50px;
  // min-width: 50px;
  height: 50px;
  padding: 0;
  width: 50px;

  //test
  position: relative;
  z-index: 0;
}

.square > img {
  height: 50px;
  padding: 0;
  width: 50px;
}

.layer0 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.layer1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.selectors {
  height: 25px;
  padding: 0;
  width: 25px;
}

.selectorsStart {
  margin-top: 50px;
}

.select-layers {
  text-align: left;
  margin-top: 40px;
}

.layer-zero {
  margin: auto;
}

footer {
  margin-top: 100px;
  text-align: center;
}
