$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

h1 {
  text-align: center;
}

.gameboard {
  background-color: $pure-white;
  height: 600px;
  max-width: 600px;
}

.square {
  border: 1px solid $grid-lines;
  max-height: 50px;
  max-width: 50px;
  min-height: 50px;
  min-width: 50px;
  padding: 0;
}

.square > img {
  height: 50px;
  padding: 0;
  width: 50px;
}

.selectors {
  height: 25px;
  padding: 0;
  width: 25px;
}

.selectorsStart {
  margin-top: 20px;
}

footer {
  margin-top: 100px;
  text-align: center;
}
